<div class="container">
<section style="padding-top: 50px;">
  <p id="notice"><%= notice %></p>

  <h1>Companies</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th><i class="fas fa-euro-sign"></i></th>
        <th><i class="fas fa-paint-brush"></i></th>
        <th><i class="fas fa-code"></i></th>
        <th><i class="fab fa-google"></i></th>
        <th><i class="fas fa-shield-alt"></i></th>
        <th><i class="fas fa-user-astronaut"></i></th>
        <th><i class="fas fa-phone-alt"></i></th>
        <th><i class="fas fa-users"></i></th>
        <th><i class="fas fa-shopping-cart"></i></th>
        <th><i class="fas fa-blog"></i></th>
        <th><i class="fas fa-tachometer-alt"></i></th>
        <th><i class="fas fa-percentage"></i></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td><%= company.name %></td>
          <td><span><%= company.price %>€</span></td>
          <td><span><%= company.design_freedom %></span>/10</td>
          <td><span><%= company.code_quality %></span>/10</td>
          <td><span><%= company.seo %></span>/10</td>
          <td><span><%= company.site_security %></span>/10</td>
          <td><span><%= company.user_friendliness %></span>/10</td>
          <td><span><%= company.support %></span>/10</td>
          <td><span><%= company.collaboration %></span>/10</td>
          <td><span><%= company.e_commerce %></span>/10</td>
          <td><span><%= company.blog %></span>/10</td>
          <td><span><%= company.site_speed %></span>/10</td>
          <td><span><%= company.fees %></span>%</td>
          <td><%= link_to 'Show', company %></td>
          <td><%= link_to 'Edit', edit_company_path(company) %></td>
          <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Company', new_company_path %>
  </div>
</section>
