<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @company.website %>
</p>

<p>
  <strong>Price:</strong>
  <%= @company.price %>
</p>

<p>
  <strong>Design freedom:</strong>
  <%= @company.design_freedom %>
</p>

<p>
  <strong>Code quality:</strong>
  <%= @company.code_quality %>
</p>

<p>
  <strong>Seo:</strong>
  <%= @company.seo %>
</p>

<p>
  <strong>Site security:</strong>
  <%= @company.site_security %>
</p>

<p>
  <strong>User friendliness:</strong>
  <%= @company.user_friendliness %>
</p>

<p>
  <strong>Support:</strong>
  <%= @company.support %>
</p>

<p>
  <strong>Collaboration:</strong>
  <%= @company.collaboration %>
</p>

<p>
  <strong>E-commerce:</strong>
  <%= @company.ecommerce %>
</p>

<p>
  <strong>Blog:</strong>
  <%= @company.blog %>
</p>

<p>
  <strong>Site speed:</strong>
  <%= @company.site_speed %>
</p>

<p>
  <strong>Fees:</strong>
  <%= @company.fees %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
